<!DOCTYPE html>
<html>
<head>
    <title>Cluster Prediction</title>
</head>
<body>
    <h1>Enter your data:</h1>
    <form action="/predict" method="post">
        <input type="number" name="birth_rate" placeholder="Birth Rate" required="required">
        <input type="number" name="co2_emission" placeholder="CO2 Emissions" required="required">
        <input type="number" name="days_to_start_business" placeholder="No. of Days to Start Business" required="required">
        <input type="number" name="energy_usage" placeholder="Energy Usage" required="required">
        <input type="number" name="GDP" placeholder="GDP ($)" required="required">
        <input type="number" name="health_exp_percent_GDP" placeholder="Health Exp % GDP" required="required">
        <input type="number" name="health_exp_percapita" placeholder="Health Exp/Capita" required="required">
        <input type="number" name="hours_to_do_tax" placeholder="Hours to do Tax" required="required">
        <input type="number" name="infant_mortality_rate" placeholder="Infant Mortality Rate" required="required">
        <input type="number" name="internet_usage" placeholder="Internet Usage" required="required">
        <input type="number" name="lending_interest" placeholder="Lending Interest rate" required="required">
        <input type="number" name="life_expectancy_female" placeholder="Life Expectancy Female" required="required">
        <input type="number" name="life_expectancy_male" placeholder="Life Expectancy Male" required="required">
        <input type="number" name="mobile_phone_usage" placeholder="Mobile Phone Usage" required="required">
        <input type="number" name="population_0_14" placeholder="Population 0-14 Years" required="required">
        <input type="number" name="population_15_64" placeholder="Population 15-64 Years" required="required">
        <input type="number" name="population_65_plus" placeholder="Population 65+ Years" required="required">
        <input type="number" name="population_total" placeholder="Population Total" required="required">
        <input type="number" name="population_urban" placeholder="Population Urban" required="required">
        <input type="number" name="tourism_inbound" placeholder="Tourism Inbound ($)" required="required">
        <input type="number" name="tourism_outbound" placeholder="Tourism Outbound ($)" required="required">
        <button type="submit">Predict</button>
    </form>
    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}
</body>
</html>
