<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/index">Clustering</a></li>
            <li><a href="/model">Classification</a></li>
        </ul>
    </nav>
    <h2>Welcome to My Flask Application</h2>
    <img src="/img3.jpg" alt="Image Alt Text">
    <p>This is the home page of my Flask application. It showcases some content and an image.</p>
</body>
</html>

